h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h2::before {
  content: "\203A\0020";
  color: var(--color-brand-primary);
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

.epilog table {
  color: gray;
  box-shadow: none;
}

.search__outer__input {
  color: black;
}

.sidebar-logo {
  max-width: 80%;
}
